{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
     <title>Reveal
 </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

   <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'main/assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/slicknav.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/price_rangs.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'main/assets/css/responsive.css' %}">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <style>
            @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}


.containe {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}
        </style>
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'main/assets/img/logo/reveal.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent">
           <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="{% url 'main_index' %}"><img src="{% static 'main/assets/img/logo/reveal.svg' %}" width="200px" alt=""></a>
                            </div> 
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="{% url 'main_index' %}">Home</a></li>
                                            <li><a href="{% url 'main_about' %}">About</a></li>
                                            <li><a href="{% url 'admin_login' %}">Admin</a></li>
                                            <li><a href="{% url 'jobseaker_login' %}">Jobseeker</a></li>
                                            <li><a href="{% url 'main_contact' %}">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>             
                                <!-- Header-btn -->
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
        <!-- Header End -->
    </header>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height1.5 d-flex align-items-center" data-background="{% static 'main/assets/img/hero/about.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Jobseeker Login</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Hero Area End -->
    <!-- ================ contact section start ================= -->
    <section class="contact-section" style="background: linear-gradient(90deg, #C7C5F4, #776BCC);">
            <div class="container">
               
                <div class="row justify-content-center">

                 
                    </div>
                    <div class="col-lg-12 col-md-10 lone ">
                        <div class="containe">
                            <div class="screen">
                                <div class="screen__content">
                                    <form class="login" name='myform'  onsubmit='return validate();'  method="post">
                                        {% csrf_token %}
                                        <div class="login__field">
                                            <i class="login__icon fas fa-user"></i>
                                            <input type="text" name="email" class="login__input" placeholder="User Email">
                                        </div>
                                        <div class="login__field">
                                            <i class="login__icon fas fa-lock"></i>
                                            <input type="password" name="password" class="login__input" placeholder="Password">
                                        </div>
                                        <button type="submit" class="button login__submit">
                                            <span class="button__text">Log In Now</span>
                                            <i class="button__icon fas fa-chevron-right"></i>
                                        </button>				
                                    </form>
                                    <div class="social-login">
                                        <h6 class="text-white" >Dont Have an Account?</h6>
                                        <div class="social-icons">
                                            <a href="{% url 'jobseaker_register' %}"  class="social-login__icon">Register</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="screen__background">
                                    <span class="screen__background__shape screen__background__shape4"></span>
                                    <span class="screen__background__shape screen__background__shape3"></span>		
                                    <span class="screen__background__shape screen__background__shape2"></span>
                                    <span class="screen__background__shape screen__background__shape1"></span>
                                </div>		
                            </div>
                        </div>
                    
                   
                </div>




                
            </div>
        </section>
    <!-- ================ contact section end ================= -->
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                       <div class="single-footer-caption mb-50">
                         <div class="single-footer-caption mb-30">
                             <div class="footer-tittle">
                                 <h4>About Us</h4>
                                 <div class="footer-pera">
                                    <p>Finding jobs easily from our website and the companies hosting jobs very easily.</p>
                                </div>
                             </div>
                         </div>

                       </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Info</h4>
                                <ul>
                                    <li>
                                    <p>Address :Siris road Lb nagar,near metro station</p>
                                    </li>
                                    <li><a href="#">Phone : +8880 44338899</a></li>
                                    <li><a href="#">Email : codebook@gmail.com</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Important Link</h4>
                                <ul>
                                    <li><a href="#"> View Project</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Testimonial</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                  
                </div>
               <!--  -->
               <div class="row footer-wejed justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <!-- logo -->
                        <div class="footer-logo mb-20">
                            <a href="{% url 'main_index' %}"><img src="{% static 'main/assets/img/logo/reveal.svg' %}" width="180" alt=""></a>
                          </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="footer-tittle-bottom">
                        <span>5000+</span>
                        <p>Talented Hunter</p>
                    </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-tittle-bottom">
                            <span>451</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <!-- Footer Bottom Tittle -->
                        <div class="footer-tittle-bottom">
                            <span>568</span>
                            <p>Talented Hunter</p>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex justify-content-between align-items-center">
                         <div class="col-xl-10 col-lg-10 ">
                            <div class="copyright" style="color:aliceblue">
                                &copy; Copyrights @2022 by  <span class="text-color:white">Reveal</span>  | Designed and Developed by <a href="https://codebook.in/" style="color:rgb(12, 152, 216)" target="_blank">B.L.Harsha Vardhan</a>
                            </div>
                         </div>
                         <div class="col-xl-2 col-lg-2">
                             <div class="footer-social f-right">
                                 <a href="#"><i class="fab fa-facebook-f"></i></a>
                                 <a href="#"><i class="fab fa-twitter"></i></a>
                                 <a href="#"><i class="fas fa-globe"></i></a>
                                 <a href="#"><i class="fab fa-behance"></i></a>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>



    <script type="text/javascript">
        function validate(){
         
    
          var email = document.myform.email
          var emailpattern = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([com\co\.\in])+$/; // to validate email id

    
    
         
          var letter = /[a-z]/;
          var upper = /[A-Z]/;
          var number = /[0-9]/; 
      
          var password = document.myform.password
      
     
        
       
          if (email.value.length <= 0) {
          alert("Enter your email id");
          email.focus();
          return false;
          
          }
          if(!email.value.match(emailpattern)){
          alert("Invalid Email format"); 
          email.focus();            
          return false;
          }
          
         
          if (password.value.length <= 0) {
          alert("Enter your password");
          password.focus();
          return false;
          
          }
        }
          
        </script>
<!-- JS here -->
{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>swal({
        title: "Success!",
        text: "{{message}}",
        icon: "success",
        button: "OK",
    });
</script>

{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
<script>swal({
        title: "Warning :)",
        text: "{{message}}",
        icon: "warning",
        button: "OK",
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<script>swal({
        title: "info :)",
        text: "{{message}}",
        icon: "info",
        button: "OK",
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>swal({
        title: "error :)",
        text: "{{message}}",
        icon: "error",
        button: "OK",
    });
</script>
{% endif %}
{% endfor %}
{% endif %}

		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'main/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'main/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'main/assets/js/popper.min.js' %}"></script>
        <script src="{% static 'main/assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'main/assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'main/assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'main/assets/js/slick.min.js' %}"></script>
        <script src="{% static 'main/assets/js/price_rangs.js' %}"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'main/assets/js/wow.min.js' %}"></script>
		<script src="{% static 'main/assets/js/animated.headline.js' %}"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'main/assets/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'main/assets/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'main/assets/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'main/assets/js/jquery.magnific-popup.js' %}"></script>

        <!-- contact js -->
        <script src="{% static 'main/assets/js/contact.js' %}"></script>
        <script src="{% static 'main/assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'main/assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'main/assets/js/mail-script.js' %}"></script>
        <script src="{% static 'main/assets/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'main/assets/js/plugins.js' %}"></script>
        <script src="{% static 'main/assets/js/main.js' %}"></script>
        
    </body>
    
    </html>